
/* Global CSS */

.center {
	text-align: center;
}

.hide {
	display: none;
}

.border-red {
	border-color: #ff0000ff;
}
.border-green {
	border-color: #38761dff;
}
.border-yellow {
	border-color: #ff9900ff;
}
.border-black {
	border-color: #000000;
}

.font-red {
	color: #ff0000ff;
}
.font-green {
	color: #38761dff;
}
.font-yellow {
	color: #ff9900ff;
}
.font-black {
	color: #000000;
}

.first-letter-bold {
	font-weight: 700;	
}



.logo {
	font-family: "Source Code Pro";
	font-size: 5em;
	font-weight: 300;
}
.wash-logo {
	margin-left: 1em;
	margin-bottom: 0em;
	margin-top: 0.7em;
}
.watch-logo {
	margin-left: 2em;
	margin-top: 0em;
}
#content {
	width: 50%;
	height: 100%;
}
#sign {
	text-align: center;
	font-family: "Source Code Pro";
	font-weight: 300;
	font-size: 2.5em;
	margin-top: 0.8em;
}

#user {
	text-align: center;


}
#pass {
	text-align: center;
}
form {
	text-align: center;
}
input {
	font-family: "Source Code Pro";
	font-weight: 300;
	margin:0.7em;
	font-size: 1.8em;
	height:2.3em;
	border-radius: 0.6em;
}

.buttons {
	text-align: center;
	margin-top: 2em;
}

.submit {
	font-family: "Source Code Pro";
	font-weight: 300;
	font-size: 3em;
	border-radius: 0.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	letter-spacing: 0.1em;
	background-color: #ffab40;
	color:white;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.submit:hover {
	font-family: "Source Code Pro";
	font-weight: 300;
	font-size: 3em;
	border-radius: 0.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	letter-spacing: 0.1em;
	background-color: #e89935;
	color:white;
}

#or {
	font-family: "Source Code Pro";
	font-weight: 300;
	font-size: 2em;
	display: inline;
}


h1 {
	font-family: "Source Code Pro";
	font-size: 10em;
	text-align: center;
}

.orLine {
	width: 12em;
	height: 0.1em;
	display: inline-block;
	color: black;
	background-color: black;
	outline-color: black;
	margin-bottom: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
}

#secondTitle {
	font-family: "Source Code Pro";
	text-align: center;
	font-size: 4.5em;
	font-weight: 300;
	margin-bottom: 0.3em;
}


#pictures {
	text-align: center;
}

#laundry {
	height: 48em;
}

.laundryButton {
	outline-color: black;
	outline-style: solid;
	background-color: rgba(199, 84, 64, 0.3);
	outline-width: 0.2em;
}

#firstButton {
	width: 3.6em;
	height: 2em;
	position: absolute;
	top: 23.2em;
	left: 24.9em;
}

#secondButton {
	width: 1.9em;
	height: 2.8em;
	position: absolute;
	top: 52.7em;
	left: 18.75em;
}

#thirdButton {
	width: 4.7em;
	height: 3em;
	position: absolute;
	top: 14.1em;
	left: 45.2em;
}

#fourthButton {
	width: 3.6em;
	height: 2em;
	position: absolute;
	top: 24em;
	left: 50em;
}

#fifthButton {
	width: 1.2em;
	height: 2em;
	position: absolute;
	top: 44.58em;
	left: 39.6em;
}

#sixthButton {
	width: 3.6em;
	height: 3em;
	position: absolute;
	top: 41em;
	left: 73.6em;
}

#seventhButton {
	width: 3em;
	height: 4em;
	position: absolute;
	top: 49.4em;
	left: 79.5em;
}

#home {
	width: 8em;
    margin-left: 3em;
    margin-top: 2em;
}

.title-container {
	width: 100%;
    display: flex;
    justify-content: center;
}

.title {
	font-family: "Source Code Pro";
    font-size: 4em;
    font-weight: 300;
    border-width: 2px;
    border-bottom: solid;
    text-align: center;
    width: 17em;
}

#machines {
	display: flex;
    height: 39em;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#machines div {
    margin: 3em;
    text-align: center;
}

.washer-dryer-choice img {
	width: 14em;
    height: 15em;
}

.washer-dryer-choice {
    font-family: "Source Code Pro";
    font-weight: 500;
    font-size: 1.5em;
    font-style: italic;
}


/* Machine selection */
.machine-container {
	display: flex;
	flex-direction: column;
}

.machine-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.machine-status-box {
    width: 2.3em;
    height: 2em;
	border: 1px solid;
}

.machine-status-row {
	display: flex;
	margin-bottom: .5em;
    align-items: center;
}

.machine-status-row-red .machine-status-box {
	background-color: #ff0000ff;
}
.machine-status-row-green .machine-status-box {
	background-color: #38761dff;
}
.machine-status-row-yellow .machine-status-box {
	background-color: #ff9900ff;
}
.machine-status-row-black .machine-status-box {
	background-color: #000000;
}

.machine-status-dash, .machine-status-text {
	font-family: arial, sans-serif;
	font-size: 1.6em;
	margin-left: 1em;
}

.machine-choice {
	display: flex;
    flex-direction: column;
    font-family: "Source Code Pro", serif;
}

.machine-choice {
	font-size: 2em;
}


.machine-choice-row {
	display: flex;
	flex-direction: row;
}
/*Dryer Selection*/
#dryer-machines {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.dryer-choice {
	width: 4em;
	border-width: 5px;
    border-style: solid;
    text-align: left!important;
    margin: .05em;
    padding-left: .1em;
    padding-right: .1em;
    margin-right: .4em;
}

#dryer-title {
	width: 10em;
}
/*Washer selection*/
#washer-title {
	width: 11em;
}

#washer-machines {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.washer-choice {
	width: 4em;
	border-width: 5px;
    border-style: solid;
    text-align: left!important;
    margin: 1em;
    padding-left: .5em;
    padding-right: .5em;
}

/*Home page*/
.home-header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-title {
	font-family: "Source Code Pro";
    font-size: 3em;
    font-weight: 300;
}

.home-title-container {
	text-align: center;
}

.home-icon-container {
	display: flex;
    flex-direction: column;
}

.home-icon {
	width: 6em;
	margin: 1em;
}

.home-machine-container {
	margin-top: 2em;
	font-family: "Source Code Pro";
	font-weight: 300;
}

#home-location-text {
	font-size: 2em;
}

.home-machines {
	display: flex;
	flex-direction: row;
}

.empty-machine {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	border: 2px solid;
	background-color: #eeeeeeff;
	width: 10em;
	margin-right: 0.5em;
}

.empty-machine-text {
	font-size: 2em;
	font-weight: 500;
}

.home-cross-icon {
	margin-top: 2em;
	width: 7em;
}

#home-machine-text {
	font-size: 2em;
}

/*Settings*/
.settings-content {
	display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Code Pro";
    font-weight: 300;
    font-size: 3em;
    margin-top: 1em;
}

.settings-noti {
	display: flex;
    border: 3px solid #ff9900;
    background-color: #999999ff;
    color: white;
    margin: 1em;
    width: 13em;
    height: 2em;
    justify-content: center;
    align-items: center;
}

/*Account*/
.account-content {
	display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Code Pro";
    font-weight: 300;
    font-size: 3em;
    margin-top: 1em;
}

.account-noti {
	display: flex;
    border: 3px solid #ff9900;
    background-color: #999999ff;
    color: white;
    margin: 1em;
    width: 15em;
    height: 2em;
    justify-content: center;
    align-items: center;
}

/*Notifcations*/
.notification-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.notifications-rows {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	width: 60em;
}

.noti-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.6em;
}

.noti-dot {
	width: 2.4em;
	height: 2em;
}

.notifications-content-text {
	font-family: "Source Code Pro";
	font-weight: 300;
	font-size: 1.7em;
}

/*Account Change*/
.change-submit {
	margin-top: 5em;
	display: flex;
    border: 3px solid #ff9900;
    background-color: #999999ff;
    color: white;
    width: 11em;
    height: 3em;
    justify-content: center;
    align-items: center;
}

.change-text {
	font-family: "Source Code Pro";
    font-weight: 300;
    font-size: 2em;
}

.change-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;
}

.change-input-field {
	text-align: center;
	border-color: #ffab40;
	border-style: solid;
}
